header{
	background-color: #F1F5F9 ;
}
h1{
	background-color: #1E3A8A;
	color: #F9FAFB;
}
.container{
	background-color: (rgba(255,255,255,0.9));
	text-align:justify;
	display:block;
	margin:2px;
	padding:20px;
}
.about{
	background-color: (rgba(255,255,255,0.9));
	text-align:justify;
	border: 2px solid black;
	display:block;
	margin:2px;
	padding:20px;
}
.Mission{
	background-color: (rgba(255,255,255,0.9));
	text-align:justify;
	border: 2px solid black;
	display:block;
	margin:2px;
	padding:20px
}
.Vision{
	background-color: (rgba(255,255,255,0.9));
	text-align:justify;
	border: 2px solid black;
	display:block;
	margin:2px;
	padding:20px
}
button{
	background-color:#1E3A8A;
	color: #F9FAFB;
	
}
footer{
	background-color: #1E3A8A;
	color: #F9FAFB;
	padding:20px;
	
}
