ul{
	list-style:none;
	padding:0;
	margin:0;
}
a{
	color:white;
	text-decoration:none;
	padding:10px;
}
li{
	display:inline;
	margin-right:10px;
}
nav{
	background-color:black;
	padding:20px;
	text-align:right;
}
h1{
	color:white;
}
button{
	background-color:red;
	color:white;
}
body{
background-color:black;
}
p{
	color:white;
}
*{
	box-sizing:border-box;
}
.container{
	background-color:black;
	text-align:justify;
	display:block;
	margin:2px;
	padding:20px
	
}
.hardware{
	bacground-color:sky blue;
	text-align:justify;
	border: 2px solid black;
	display:block;
	margin:2px;
	padding:20px;
}
.climate{
	text-align:justify;
	border: 2px solid black;
	display:block;
	margin:2px;
	padding:20px;
}
.research{
	text-align:justify;
	border: 2px solid black;
	display:block;
	margin:2px;
	padding:20px;
}