body{
	background-color:lightblue;
	margin:auto;
	border:3px solid black;
	
	
}

button{
	background-color:red;
	color:green;
	border:none;
	cursor:pointer;
	
}

h2{
	color:black;
	text-align:center;
}
form{
	text-align:center;
}
	